{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title text-center">    
                <h1><span>Recent Posts</span></h1>                
            </div>            
            <div class="row listrecent px-2">
                {{ $first := index ($.Site.Taxonomies.categories.Get "faith") 1 }}
                {{- partial "list-partials/postbox.html" $first -}}
                {{ $second := index ($.Site.Taxonomies.categories.Get "tech") 1 }}
                {{- partial "list-partials/postbox.html" $second -}}
                {{ $third := index ($.Site.Taxonomies.categories.Get "gender") 1 }}
                {{- partial "list-partials/postbox.html" $third -}}      
            </div>
        </section>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
